page-filter{
    .list-header-md {
        padding-left: 16px;
         margin-bottom: 0px; 
         min-height: 4rem; 
         border-top: 0px solid #dedede; 
        /* font-size: 1.4rem; */
        color: #757575;
    }
    .item-md{
        font-size: 0.9em;
    }
    .input-w{
        padding-top: 8px;
    }
    .input-w label {
        display: inline-block;
        vertical-align: middle;    
    }
    
    .input-w input {
        display: inline-block;
        vertical-align: middle;
    }

    .input-w .leb1{
        padding-right: 19px;
        padding-left: 5px;
    }
    .input-w .leb2{
        padding-right: 5px;
        padding-left: 5px;
    }
    
    
    
    input {
        font-size: 1em;
    }
    
}